// Characters, comics and comics per character :

.characters-and-comics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 650px;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    height: 40px;
    &::placeholder {
      font-family: "roboto", sans-serif;
      letter-spacing: 2px;
      color: rgb(69, 17, 17);
      opacity: 0.7;
    }
  }

  h3,
  h1,
  h2 {
    font-family: "Bangers", system-ui;
  }

  h3 {
    font-size: 20px;
    margin: 16px 0;
    line-height: 32px;
  }

  h1 {
    font-size: 50px;
    margin: 72px 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 166, 166);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 80px;

    a {
      text-decoration: none;
    }
  }
}

// Complete cards for character, comics and comics per character pages
.cards {
  width: 650px;
  padding: 32px;
  box-sizing: border-box;
  border: 3px solid black;
  background-color: rgb(248, 248, 248);
  transition: transform 100ms;
  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }

  > div {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;

    img {
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-right: 32px;
    }

    h2 {
      font-size: 32px;
      line-height: 50px;
      color: rgb(255, 166, 166);
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #444444;
    }
  }

  p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(31, 17, 17);
    text-align: justify;
  }
}

// -- MEDIA -- //
@media (max-width: 768px) {
  .characters-and-comics {
    input {
      width: 450px;
    }

    h1 {
      font-size: 40px;
      text-align: center;
      margin: 40px 0;
    }
  }

  .cards {
    width: 450px;

    > div {
      flex-direction: column;
      margin-bottom: unset;

      img {
        width: 100%;
        height: 100%;
        margin-right: unset;
      }

      h2 {
        margin: 16px 0;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .characters-and-comics {
    input {
      width: 350px;
    }
  }
  .cards {
    width: 350px;
    padding: 16px;
  }
}

@media (max-width: 430px) {
  .characters-and-comics {
    input {
      width: 265px;
      height: 32px;
    }
  }

  .cards {
    width: 265px;

    p {
      font-size: 16px;
    }
  }
}
