// Characters, comics and comics per character :

.characters-and-comics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 650px;
    border-top: 1px solid rgb(0, 0, 0, 0.5);
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    height: 40px;
    &::placeholder {
      font-family: "roboto", sans-serif;
      letter-spacing: 2px;
      color: rgb(69, 17, 17);
      opacity: 0.7;
    }
  }

  h3,
  h1,
  h2 {
    font-family: "Bangers", system-ui;
  }

  h3 {
    font-size: 20px;
    margin: 8px 0;
    line-height: 32px;
  }

  h1 {
    font-size: 50px;
    line-height: 100px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 166, 166);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 80px;

    a {
      text-decoration: none;
    }
  }
}

// Complete cards for character, comics and comics per character pages
.cards {
  width: 650px;
  padding: 32px;
  box-sizing: border-box;
  border: 3px solid black;
  background-color: rgb(248, 248, 248);
  transition: transform 100ms;
  &:hover {
    transform: scale(1.02);
    opacity: 0.9;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  }

  div {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    position: relative;

    img:nth-of-type(2) {
      width: 300px;
      height: 300px;
      object-fit: contain;
      margin-right: 32px;
    }

    h2 {
      font-size: 32px;
      color: rgb(255, 166, 166);
      text-transform: uppercase;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #444444;
    }
  }

  p {
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(31, 17, 17);
  }
}

// Dois rapeticer les cards à partir de ce breakpoint
@media (max-width: 768px) {
  .characters-and-comics {
    input {
      width: 450px;
    }

    h1 {
      font-size: 40px;
      line-height: 90px;
    }
  }

  .cards {
    width: 450px;
    div {
      img:nth-of-type(2) {
        width: 50%;
        height: 50%;
      }
    }

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 640px) {
  .cards {
    div {
      flex-direction: column;
      margin-bottom: unset;

      img:nth-of-type(2) {
        width: 100%;
        height: 100%;
        margin-right: unset;
      }

      h2 {
        line-height: 50px;
        margin: 16px 0;
        font-size: 40px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 576px) {
  .characters-and-comics {
    input {
      width: 350px;
    }
  }
  .cards {
    width: 350px;
    div {
      h2 {
        font-size: 35px;
      }
    }
  }
}

@media (max-width: 430px) {
  .characters-and-comics {
    input {
      width: 265px;
      height: 32px;
    }
  }

  .cards {
    padding: 16px;
    width: 265px;

    div {
      h2 {
        font-size: 30px;
        line-height: 40px;
      }
    }

    p {
      font-size: 16px;
    }
  }
}

// @media (max-width: 360px) {
//   .cards {
//     padding: 16px;
//   }
// }
