.favorites {
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;

    h1 {
      font-family: "Bangers", system-ui;
      font-size: 50px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 166, 166);
    }

    p {
      font-family: "roboto", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 4px;
      line-height: 30px;
    }
  }

  nav:nth-of-type(2) {
    justify-content: center;
    height: unset;
  }

  menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.favorite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  border: 1px solid salmon;
  width: calc(20% - 8px);
  padding: 24px;
  background-color: white;
  transition: transform 400ms;
  &:hover {
    transform: translateY(-16px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  > img {
    height: 200px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    position: relative;

    > span {
      display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 4px;
      font-size: 18px;
    }
  }

  h2 {
    font-size: 30px;
    font-family: "Bangers", system-ui;
    color: rgb(253, 241, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(68, 68, 68);
    margin: 16px 0;
    line-height: 40px;
    text-align: center;
  }
}
