.favorites {
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;

    h1 {
      font-family: "Bangers", system-ui;
      font-size: 50px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: rgb(255, 166, 166);
    }

    p {
      font-family: "roboto", sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 4px;
      line-height: 30px;
    }
  }

  // La pagination, qui aura des propriétés légèrements différentes
  nav {
    div {
      justify-content: center;
      height: unset;
      margin: 0 0 32px 0;
    }
  }

  menu {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.favorite-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 24px;
  border: 1px solid salmon;
  width: calc(20% - 8px);
  padding: 24px;
  background-color: white;
  transition: transform 400ms;
  &:hover {
    transform: translateY(-16px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  }
  > img {
    height: 300px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;

    > span {
      display: block;
      font-family: "Roboto", sans-serif;
      font-weight: 100;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 4px;
      font-size: 18px;
    }

    // l'icone coeur, qui aura des propriétés légèrements différentes
    > img {
      position: unset;
      top: unset;
      right: unset;
    }
  }

  h2 {
    font-size: 30px;
    font-family: "Bangers", system-ui;
    color: rgb(253, 241, 242);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(68, 68, 68);
    margin: 16px 0;
    line-height: 40px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .favorite-card {
    width: calc(28% - 16px);
  }
}

@media (max-width: 992px) {
  .favorites {
    menu {
      justify-content: space-between;
    }
  }
  .favorite-card {
    width: calc(43% - 16px);
  }
}

@media (max-width: 640px) {
  .favorite-card {
    margin: 16px;
    padding: 16px;
    width: calc(45% - 16px);
  }
}

@media (max-width: 576px) {
  .favorites {
    div {
      h1 {
        font-size: 40px;
      }
    }
    menu {
      gap: 8px;
    }
  }

  .favorite-card {
    width: calc(43% - 8px);

    div {
      span {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 470px) {
  .favorites {
    menu {
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
    }
    > div {
      h1 {
        font-size: 35px;
      }

      p {
        letter-spacing: 1px;
        word-spacing: 2px;
      }
    }
  }

  .favorite-card {
    width: 280px;
  }
}

@media (max-width: 360px) {
  .favorites {
    > div {
      flex-direction: column;
      height: 150px;
      justify-content: center;

      > h1 {
        margin-bottom: 16px;
      }

      > p {
        font-size: 15px;
      }
    }
  }
}
