.header-component {
  height: 62px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, #ee171f 25%, #ffa7aa 40%, white 62%);

  nav {
    // background: linear-gradient(to right, #ee171f 25%, white 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    // Burger menu
    svg {
      display: none;
    }

    // Logo
    img {
      height: 62px;
      object-fit: contain;
    }

    div {
      a {
        text-decoration: none;

        button {
          text-transform: uppercase;
          background-color: white;
          color: #ee171f;
          letter-spacing: 3px;
          border: none;
          font-weight: bold;
          padding: 8px 16px;
          transition: all 0.5s;
          position: relative;
          border-radius: 5px;
          margin-left: 16px;
          &:hover {
            padding-right: 24px;
            padding-left: 8px;
            background-color: #ee171f;
            color: white;
            cursor: pointer;
          }
          &:after {
            content: "»";
            position: absolute;
            opacity: 0;
            top: 6px;
            right: -10px;
            transition: 0.2s;
          }
          &:hover:after {
            opacity: 1;
            right: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .header-component {
    background: linear-gradient(to right, #ee171f 18%, #ffa7aa 40%, white 56%);
  }
}

@media (max-width: 992px) {
  .header-component {
    background: linear-gradient(to right, #ee171f 18%, #ffa7aa 40%, white 56%);
  }
}

@media (max-width: 768px) {
  .header-component {
    background: linear-gradient(to right, #ee171f 28%, #ffa7aa 32%, white 36%);
    height: 56px;

    nav {
      img {
        height: 56px;
      }

      div {
        button {
          margin-left: 8px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .header-component {
    background: linear-gradient(
      0.25turn,
      #fff 16%,
      #ffa7aa,
      #ee171f,
      #ee171f,
      #ee171f,
      #ffa7aa,
      #fff 84%
    );

    nav {
      justify-content: center;

      svg {
        display: block;
        position: absolute;
        left: 32px;
      }

      div {
        display: none;
      }
    }
  }
}

// @media (max-width: 576px) {
//   .header-component {
//     // width: 470px; // ???
//   }
// }
