.heart-icon {
  width: 30px;
  height: 30px;
  margin: 8px;
  position: absolute;
  top: 0;
  right: 0;
  transition: transform 200ms;
  &:hover {
    transform: scale(1.4);
    cursor: pointer;
  }
  &:active {
    transform: scale(1.02);
  }
}
